* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 20px 20px 20px 20px;
    background-color: lightcyan;
}

header {
    padding: 20px;
    background-color: teal;
    color: #420080;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: teal;
}

nav {
    margin-right: 20px;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

/* Positions the navigational bar to the left and inline */
nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: #420080;
}

/* Provides spacing between the lines */
h1,
h2,
h3 {
    color: #420080;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Changes the color of the links */
a {
    color: #420080;
}

/* Prevents the image from taking over the entire page */
.selfPortrait {
        max-width: 150px;
        max-height: 200px;
        border: 5px solid #420080;
        float: left;
        margin-right: 20px;
}

.myInfo {
    min-height: 250px;
    max-height: fit-content;
    margin-bottom: 20px;
}

.myInfo p {
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 40% 30% 30%;
}

.projects {
    display: inline-block;
    align-items: center;
    text-align: center;
    margin: 20px 20px 20px 20px;
    border: 5px solid #420080;
    transition: all 0.5s ease-in-out;
}

/* The image enlarges when user hovers on the image */
.projects:hover {
    transform: scale(1.1);
}

/* Prevents the images from taking over the entire page */
.projects img {
    max-width: 700px;
    max-height: 350px;
    padding: 5px;
} 

.project1 {
    display: inline-block;
    align-items: center;
    text-align: center;
    margin: 20px 20px 20px 20px;
    border: 5px solid #420080;
    transition: all 0.5s ease-in-out;
}

/* The image enlarges when user hovers on the image */
.project1:hover {
    transform: scale(1.1);
}

/* Prevents the images from taking over the entire page */
.project1 img {
    max-width: 850px;
    max-height: 350px;
    padding: 5px;
} 

/* Project links and images are responsive to changes in screen size */
@media screen and (min-width: 768px) {
    .projects {
        width: 60%;
    }
}

@media screen and (min-width: 768px) {
    .projects img {
        width: 60%;
    }
}

@media screen and (min-width: 768px) {
    .project1 {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .project1 img {
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    .projects {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    .projects img {
        width: 80%;
    }
}


@media screen and (min-width: 992px) {
    .project1 {
        width: 85%;
    }
}

@media screen and (min-width: 992px) {
    .project1 img{
        width: 85%;
    }
}

@media screen and (min-width: 1200px) {
    .projects {
        width: 90%;
    }
}

@media screen and (min-width: 1200px) {
    .projects img {
        width: 90%;
    }
}


@media screen and (min-width: 1200px) {
    .project1 {
        width: 95%;
    }
}

@media screen and (min-width: 1200px) {
    .project1 img {
        width: 95%;
    }
}